/* On-screen Keyboard */

$key_size: 1.2em;
$key_border_radius: $base_border_radius;
$key_bg_color:  darken($osd_fg_color, 70%);
// $default_key_bg_color: darken($key_bg_color, 4%);
$default_key_bg_color: if($variant=='light', darken($key_bg_color, 11%), darken($key_bg_color, 10%));


// draw keys using button function
#keyboard {
  // background-color: transparentize(if($variant=='light', darken($bg_color, 5%), darken($bg_color, 8%)), 0.1);
  background-color: #242424;
  box-shadow: inset 0 1px 0 0 $osd_outer_borders_color;

  padding-top: 8px;

  .page-indicator {
    padding: $base_padding;

    .page-indicator-icon {
      width: 8px;
      height: 8px;
    }
  }
}

#uiGroup.mobile .key-container {
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
}

// the container for individual keys
.key-container {
  padding: 4px;
}

// the keys
.keyboard-key {
  @include fontsize($base_font_size + 5pt);
  font-weight: bold;
  border-radius: $key_border_radius;

  @include button(normal, $c:$key_bg_color, $tc:$osd_fg_color);

  &.smaller-font-size {
    @include fontsize($base_font_size + 4pt);
  }

  &:focus { @include button(focus);}
  &:hover { @include button(hover, $c:$key_bg_color, $tc:$osd_fg_color);}
  &:active { @include button(active, $c:lighten($key_bg_color, 10%), $tc:$osd_fg_color); }
  &:checked { @include button(checked, $c:$key_bg_color, $tc:$osd_fg_color); }

  &:grayed { //FIXMEy
    background-color: darken($bg_color, 3%);
    color: $osd_fg_color;
    border-color: $osd_borders_color;
  }

  // non-character keys
  &.default-key {
    @include button(normal, $c:$default_key_bg_color, $tc:$osd_fg_color);
    &:hover { @include button(hover, $c:$default_key_bg_color, $tc:$osd_fg_color);}
    &:active { @include button(active, $c:$default_key_bg_color, $tc:$osd_fg_color);}
    &:checked { @include button(checked, $c:$default_key_bg_color, $tc:$osd_fg_color);}
    border-radius: $key_border_radius;

    // keys that may be latched: ctrl/alt/shift
    &:latched {
      border-color: lighten($selected_bg_color, 5%);
      background-color: $selected_bg_color;
    }
  }

  // enter key is suggested-action
  &.enter-key {
    @include button(normal, $c:$selected_bg_color, $tc:$selected_fg_color);
    &:hover { @include button(hover, $c:$selected_bg_color, $tc:$selected_fg_color);}
    &:active { @include button(active, $c:$selected_bg_color, $tc:$selected_fg_color);}
    &:checked { @include button(checked, $c:$selected_bg_color, $tc:$selected_fg_color);}
    border-radius: $key_border_radius;
    color: $osd_fg_color;
  }

  &.action-levelSwitch {
    @include fontsize($base_font_size + 2);
  }

  // size of icons on keys
  StIcon { icon-size: $medium_icon_size; }
}

#uiGroup.mobile.horizontal .keyboard-key {
  @include fontsize($base_font_size + 1pt);

  StIcon { icon-size: 16px; }
  min-height: 0;
}

// long press on a key popup
.keyboard-subkeys {
  -boxpointer-gap: $base_padding;
  background-color: lighten($osd_bg_color, 50%);
  border-radius: 15px;

  StBin {
    padding-left: 4px;
    padding-right: 4px;
  }

  .keyboard-key {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
  }
}

// emoji
.emoji-page {
  .keyboard-key {
    background-color: transparent;
    border: none;
    color: initial;

    @include button(undecorated, $c:transparent, $tc:transparent);

    &:hover { @include button(hover, $c:$key_bg_color, $tc:$osd_fg_color);}
    &:active { @include button(active, $c:$key_bg_color, $tc:$osd_fg_color); }
    &:checked { @include button(checked, $c:$key_bg_color, $tc:$osd_fg_color); }
  }
}

.emoji-panel {
  .keyboard-key {
    &.bottom-row-key {
      // smaller icons for all the emoji page keys, but not for delete key
      StIcon { icon-size: 16px; }
      &.default-key {
        StIcon { icon-size: $medium_icon_size; }
      }

      @include fontsize($base_font_size + 2);

      &:latched {
        border-color: lighten($selected_bg_color, 5%);
        background-color: $selected_bg_color;
      }
    }
  }
}

// suggestions
.word-suggestions {
  @extend %title_4;
  spacing: 12px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 4px;

  // each suggestion
  StButton {
    color: $osd_fg_color;
    border-radius: $base_border_radius - 2px;
    padding: $base_padding $base_padding*2;
    transition-duration: 100ms;

    @include button(undecorated, $c:$key_bg_color, $tc:$osd_fg_color);

    &.has-suggestion { @include button(normal, $c:transparentize($key_bg_color, 0.5), $tc:$osd_fg_color);}

    &:focus { @include button(focus);}
    &:hover { @include button(hover, $c:$key_bg_color, $tc:$osd_fg_color);}
    &:active { @include button(active, $c:$key_bg_color, $tc:$osd_fg_color); }
    &:checked { @include button(checked, $c:$key_bg_color, $tc:$osd_fg_color); }
  }
}
