/* Message List */
// a.k.a. notifications in the menu

// main list
.message-list {
  margin-top: 14px;
//  margin-bottom: 16px;


  &:ltr {
    StScrollBar { margin-right: 0; }
   // border-right-width: 1px;
  }

  &:rtl {
    StScrollBar { margin-left: 0; }
 //   border-left-width: 1px;
  }

  .message-list-placeholder {
    @extend %title_2;
    color: transparentize($fg_color, .75);
    @if $contrast == 'high' {
      color: transparentize($fg_color, .5);
    }
    // icon size and color
    > StIcon {
      icon-size: 96px; // non-em asset size
      margin-bottom: $base_margin * 3;
      -st-icon-style: symbolic;
    }
  }
}

.message-list-sections {

  spacing: $base_padding * 2;
}
.message-list-section {
padding-bottom: 16px;
}

.message-list-section,
.message-list-section-list {

  spacing: $base_padding * 2;
}

// do-not-disturb + clear button
.message-list-controls {
  // NOTE: remove the padding if notification_bubble could remove margin for drop shadow
  padding: $base_padding * 2;
  padding-bottom: $base_padding;
  spacing: $base_padding;
  @extend %heading;

  .dnd-button {
    // We need this because the focus outline isn't inset like for the buttons
    // so the dnd button would grow when it gets focus if we didn't change only
    // its color when focusing.
    border-width: 2px;
    border-color: transparent;
    border-radius: 32px;
    border-style: solid;

    &:focus {
      border-color: transparentize($selected_bg_color, 0.4);
    }
  }
}

.unlock-dialog .message {
  background-color: transparentize(#a3a3a3, 0.7);
  &:hover { background-color: transparentize(#a3a3a3, 0.5); }
}

// message bubbles
.message {
  @extend %card;
  padding: 0;
  margin: 0;
  border-radius: $modal_radius;

  // subtract side padding to accommodate the close button's border
  &:ltr { padding-right:-2px; };
  &:rtl { padding-left:-2px; };

  // message header
  .message-header {
    padding: 0 $scaled_padding;
    margin: $base_padding;
    margin-bottom: 0;
    spacing: $base_padding;
    color: lighten($insensitive_fg_color, 25%);

    // header source icon
    .message-source-icon {
      icon-size: $scalable_icon_size; // 16px
      -st-icon-style: symbolic;
    }

    // box that contains the source icon, source name and timestamp of the message
    .message-header-content {
      spacing: $base_padding;
      min-height: to_em(24px);
      padding-bottom: $base_padding;

      // header source title
      .message-source-title {
        font-weight: bold;
      }

      // Time label
      .event-time {
        @extend %caption;
        color: lighten($insensitive_fg_color, 25%);
        // Add bottom padding to align the app name with the time horizontally
        padding-bottom: to_em(1px);

        &:ltr { text-align: right };
        &:rtl { text-align: left };
      }
    }

    // buttons in the message header
    .message-expand-button,
    .message-close-button {
      @extend .icon-button;
      color: $fg_color;
      background-color: transparentize($fg_color, .9);
      padding: 4px !important;
      &:hover { background-color: transparentize($fg_color, .81);}
      &:active,
      &:active:hover { background-color: transparentize($fg_color, .76);}
      &:insensitive { background-color: transparentize($fg_color, .93);}
    }

    .message-expand-button {
      padding: 6px;
      &:ltr { margin-right: $base_padding; }
      &:rtl { margin-left: $base_padding; }
    }
  }

  // container for message contents
  .message-box {
    padding: $base_padding;
    margin: $base_padding;
    margin-top: 0;
    spacing: $base_padding;

    // icon of the message
    .message-icon {
      &:ltr { margin-right:$base_padding;}
      &:rtl { margin-left:$base_padding;}

      // icon size and color
      icon-size: $base_icon_size * 3; // 48px

      // a small symbolic icon on a circle background
      &.message-themed-icon {
        border-radius: $forced_circular_radius;
        background-color: transparentize($fg_color, .93);
        icon-size: $scalable_icon_size;
        min-width: $base_icon_size * 3;
        min-height: $base_icon_size * 3;
      }
    }

    // If the header isn't displayed we need more top margin
    &:first-child {
      margin-top: $base_padding * 2;
    }

    // text of the message
    .message-content {
      spacing: $base_margin;

      // message title
      .message-title {
        font-weight: bold;
      }
    }
  }
}

// URLs in messages
.url-highlighter {
  link-color: $link_color;
}

/* Media Controls */
.message-media-control {
  padding: $base_padding * 2 $base_padding;
  margin: 0 $base_padding;
  margin-bottom: $base_padding;
  border-radius: $base_border_radius;
  color: $fg_color;
  border: 1px solid transparent;

  @if $contrast == 'high' {
    border-color: $hc_inset_color;
    margin: $base_padding * 2 2px;
  }

  // colors are lightened since the media controls are in a card
  &:hover {
    background-color: lighten($hover_bg_color, 5%);
    color: $fg_color;
  }

  &:active {
    background-color: lighten($active_bg_color, 5%);
    color: $fg_color;
  }

  &:insensitive {
    color: lighten($insensitive_fg_color, 5%);

    @if $contrast == 'high' {
      border-color: transparent;
    }
  }

  & StIcon { icon-size: $base_icon_size; }
}

.media-message {
  // album-art
  .message-icon {
    border-radius: $base_border_radius !important;

    &.message-themed-icon {
      icon-size: $large_icon_size !important; // 32px
    }
  }
}
