/* Scrollbars */

StScrollView {
  &.vfade { -st-vfade-offset: 36px; }
  &.hfade { -st-hfade-offset: 68px; }
}

StScrollBar {
  padding: 0;

  &.vertical {
    margin-left: $base_padding;
    margin-right: $base_padding;
  }

  &.horizontal {
    margin-top: $base_padding;
    margin-bottom: $base_padding;
  }

  StScrollView & {
    min-width: 8px;
    min-height: 8px;
  }

  StBin#trough {
    border-radius: 0;
    background-color: transparent;
  }

  StButton#vhandle, StButton#hhandle {
    border-radius: 8px;
    background-color: mix($fg_color, $bg_color, 30%);
    border: 3px solid transparent; //would be nice to margin or at least to transparent
    transition: 500ms all ease;
    &:hover {background-color: mix($fg_color, $bg_color, 50%);}
    &:active {background-color: mix($fg_color, $bg_color, 40%);}
  }
}
